!!! 5
.jumbotron
  .container
    .caption
      h1 About Sheep
      p
        ジャグリングサークルSheep、その実体について解説します

.container
  .row
    .col-md-4
      h2 Sheepとは
      p
        「筑波大学ジャグリングサークルSheep」は、筑波大学の芸術系サークル連合に所属するサークルです。
        筑波大学学園祭など大学内のイベントへの参加はもちろん、依頼があれば外部の各種イベントへも参加してパフォーマンスを行います。
        出演依頼に関しては、こちらにて詳しく説明いたします。過去に出演した依頼や活動はBlogをご覧下さい。
    .col-md-7
      .frame-container
        iframe(width="560", height="315", src="//www.youtube.com/embed/-UBx__EbeZQ", frameborder="0", allowfullscreen)
    .col-md-11
    .col-md-7
      h2 メンバー募集中
      p
        私達ジャグリングサークルSheepはいつでも仲間を募集しています!
      p
        普段は基本的に、月曜日と水曜日、木曜日の授業後18:30～21:00に筑波大学 第3エリア 3A202教室にて活動しているので、興味を持った方はぜひ遊びに来てください。
      p
        ただ教室確保が上手くいかない場合もありますので、カレンダーをご覧いただき、Sheepに来る際には一応連絡(sheep.juggling☆gmail.com まで)をいただけるとありがたいです。
    .col-md-9
      h2 リンク
      h3
        | 大学・所属関係
      dl
        dt
          a(href='http://www.tsukuba.ac.jp/', target='_blank') 筑波大学
        dd
          | 筑波大学のホームページです。
        dt
          a(href='http://www.stb.tsukuba.ac.jp/~geisa/', target='_blank') 芸術系サークル連合
        dd
          | 筑波大学の芸術系サークルが加盟する学生団体です。
          br
          | Sheepもここに加盟しています。
      h3 ジャグリングショップ関係
      dl
        dt
          a(href='http://www.naranja.co.jp/juggling/', target='_blank') ナランハ
        dd
          | 国内のジャグリングショップです。
          br
          | ここで頼めばたいていの物は手に入ります。
        dt
          a(href='http://radfactor.shop-pro.jp/', target='_blank') ラッドファクター
        dd
          | オンラインジャグリングストア。
          br
          | ナランハでは手に入らない物もあったり。
        dt
          a(href='http://www.homeofpoi.com/', target='_blank') Home of Poi
        dd
          | 海外のジャグリングストアです。
          br
          | もともと安いのに加え、円高の最近では格安で購入することができます。
          | ありがとうございます。
