!!! 5
.jumbotron
  .container
    .caption
      h1 Activity
      p Sheepの活動の様子です
.container
  .rows
    h2 活動
    #tab.well
      tabset
        tab(heading="学園祭")
          h3 日程
          dl
            dt 2013/11/2(土) 前夜祭
            dd オープニングカーニバル
            dt 2013/11/2(土) 本祭一日目
            dd 松美池ステージ 10:00 - 11:00
            dt 2013/11/2(土) 本祭二日目
            dd Unitedステージ 15:40 - 16:30
          h3 詳細
          p
            準備中です。
        tab(heading="春季公演")
          h3 日程
          h3 詳細
          p
            準備中です。
  .rows
    .col-md-9
      h2 動画
      h3 2013年度 PV
      .frame-container
        iframe(width="560", height="315", src="//www.youtube.com/embed/-UBx__EbeZQ", frameborder="0", allowfullscreen)
      p 製作者: 残陽くん
      .frame-container
        iframe(width="560", height="315", src="//www.youtube.com/embed/BKptebGxa8k", frameborder="0", allowfullscreen)
      p 製作者: 残陽くん
      h3 処女作(笑)
      .frame-container
        iframe(width="560", height="315", src="//www.youtube.com/embed/Ux2Ipa7fXnw", frameborder="0", allowfullscreen)
      p 製作者: 残陽くん
