.modal-dialog
  .modal-content
    .modal-header
      button(type="button",data-dismiss='modal',aria=hidden="true",ng-click='close()').close &times;
      h4.modal-title らてふ
    .modal-body
      h4 らてふの写真集
      .row
        .thumbnail.col-md-3
           img(src="img/member/5th/ymuc5.jpg",width="200")
        .thumbnail.col-md-3
           img(src="img/member/5th/ymuc3.png",width="200")
        .thumbnail.col-md-3
           img(src="img/member/5th/ymuc2.png",width="200")
    .modal-footer
      p
        a.btn.btn-default(target='_blank',href='') Youtube
        a.btn.btn-primary(ng-click='close()') Close
